@media screen and (max-width: 1000px) {
    // Section 

section {
    margin: 0 4em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;

    &#sec {

        &-d {
            grid-template-columns: repeat(1, 1fr);
            div {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    
    }
}

}
