// Font
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Colors 
$blue: #4B61D1;
$dark_blue: #223385;
$green: #7CD136;
$light_grey: #fbfbfb;
$dark_gray: #363A52;

//var
$max-width: 1600px;

// class function

.mw-auto {
    width: 100%;
    max-width: $max-width;
    margin: auto;
}
// General
body {
    background: $light_grey;
    margin: 0;
    padding: 0;
}

a { 
    color: $dark_blue;
}

a:hover {
    color: $blue;
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
    color: $dark_gray;
}

h1 {
    font-size: 8rem;
    margin: 0
}

h2 {
    font-size: 3rem;
}

ul {
    margin: none;
    text-decoration: none;
}

.sep {
    height: 80px;
    padding: .5em 0;
    margin: 5em 0;
    background-color: $green;
}

.btn {
    display: inline-block;
    background-color: $dark_blue;
    padding: .8em 1em;
    color: #fff;
    text-decoration: none;
    margin: 2em 2em 2em 0;
}

.btn:hover {
    background-color: $blue;
    padding: .8em 1em;
    color: #fff;
    text-decoration: none;
}
// Header

#logo {
    width: 150px;
}
#banner {
    height: 100vh;
    padding: 2em 3em;

    h1 {
        display: none;
    }
}
// Section 

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 5em;
    
    & > div {
        margin: 5em 0;
    }

    &#sec {

        &-d {
           
            h1 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        &-e {
            grid-template-columns: repeat(1, 1fr);
            h1 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
}

// footer
footer {
    background-color: $blue;

    div {
        width: 10;
        max-width: $max-width;
        margin: auto;
    }
}


// Media
@import "media";